<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 20px;
      }
    </style>
  </head>
  <body>
    <h1>Welcome To Assay</h1>
    <p>A reviewer tool for Mozilla Firefox addons!</p>
    <h2>Instructions</h2>
    <h3>API Keys</h3>
    <img src="src/media/commands.png" width="200" />
    <br />
    You will need a JWT Issuer and a JWT Secret to use Assay. These can be
    obtained from the
    <a href="https://addons.mozilla.org/en-US/developers/addon/api/key/"
      >Mozilla Developer Hub</a
    >.<br /><br />
    To add them to Assay, under the "Assay" menu, click "Enter API Key" and
    "Enter API Secret" respectively.<br />
    <h3>Root Directory</h3>
    This extension relies on having a dedicated directory for your reviews. This
    is so the guid and versions of an addon are consistently at the same folder
    depth. So, decide on a location for where you will perform reviews. Upon
    your first request to download an addon, you will be prompted to set the
    root folder path.
    <br /><br />
    <img src="../../../media/rootdir.png" width="300" />
    <br /><br />
    (This can be changed in the extension settings).
    <h3>Diff Tool</h3>
    <img src="../../../media/folder context.png" width="300" />
    <br /><br />
    To compare folders of addon versions, simply select exactly two folders in
    the sidebar. Then, from the context menu, click the command "(Assay) Open in
    Diff Tool". If it's your first time, enter the command that would launch the
    tool from the cli (e.g: "opendiff"). This will open your desired diff tool
    with the two folders as arguments.<br /><br />
    <img src="../../../media/diff.png" width="300" />
    <br /><br />
    This can be changed in the extension settings.
    <br /><br />
    There is also an extension on the VSCode marketplace called
    <a
      href="https://marketplace.visualstudio.com/items?itemName=moshfeu.compare-folders"
      >Compare Folders</a
    >
    which is a great tool to use within VSCode.
    <h3>Downloading Addons & Versions</h3>
    <h4>From an Input</h4>
    You can download an addon version directly within VSCode by accessing the
    command titled "Review New Addon Version" from the Assay menu. This will
    prompt you for an addon identifier as well as the versions.
    <br /><br />
    You will require the API keys mentioned above to use this feature.
    <h4>From Review Page</h4>
    <img src="../../../media/reviewpage.gif" width="600" />
    <br /><br />
    On the review page, there is now a new button titled "Open in VSC" under
    each version. This will automatically launch VSCode, perform the download,
    and open the manifest in a text editor.
    <br /><br />
    You will require the API keys mentioned above to use this feature.
    <h3>Reviewing Versions</h3>
    <h4>Adding/Removing Comments</h4>
    <img src="../../../media/commenting.gif" width="600" />
    <br /><br />
    To add a comment, click the line where you'd like to add a comment, then
    either from the command palette or the context menu, select the "(Assay)
    Add/Edit Comment". This will bring up a webview where you can enter your
    comment. The comment will be saved to cache upon submission and a visual
    indicator in the gutter and file tree will be displayed.
    <br /><br />
    To remove a comment, click the line where the comment is, then either from
    the command palette or the context menu, select the "(Assay) Delete
    Comment". This will remove the comment from cache, the gutter icon, and any
    file tree indicators if applicable.
    <h4>Exporting Comments</h4>
    To export the comments to a text format, either:
    <ul>
      <li>
        Open the context menu of any file/folder that is a subfolder of the
        specific version folder, or the version folder itself, then select
        "(Assay) Export Comments".
      </li>
      <br />
      <li>
        Navigate to and open a file that belongs to a version. Open the command
        palette and choose "(Assay) Export Comments". This will export all
        comments for the version the file belongs to.
      </li>
    </ul>
    <h4>Opening Review Page</h4>
    <img src="../../../media/reviewlink.png" width="200" />
    <br /><br />
    To open the review page of an addon, there is a taskbar button titled
    "{guid} - Review Page". Clicking that will bring you to the review page.
  </body>
</html>
